<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Seller info</h1>
<div th:each="user : ${user}">


    <label for="name">Name: </label>
    <a th:text="${user.getFullName()}" id="name">User</a>

    <br/>
    <label for="email">Email: </label>
    <a th:text="${user.getEmail()}" id="email">User</a>

    <br/>
    <label for="phone">Phone: </label>
    <a th:text="${user.getPhone()}" id="phone">User</a>

</div>
<br/>
<br/>
<h2>All goods</h2>
<div th:each="goods : ${goods}">

    <br/>
    <label for="nameGoods">Goods: </label>
    <a th:text="${goods.getName()}" id="nameGoods">Goods</a>

    <br/>
    <label for="description">Description: </label>
    <a th:text="${goods.getDescription()}" id="description">Goods</a>

    <br/>
    <label for="price">Price: </label>
    <a th:text="${goods.getPrice()}" id="price">Goods</a>

    <br/>
    <label for="data">Data: </label>
    <a th:text="${goods.getLocalDate()}" id="data">Goods</a>



</div>
<br/>
<button onclick="back()">Back</button>
<script>
    function back() {
        window.location.href = 'https://localhost:1000/main';
    }
</script>
</body>
</html>