<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1>Delete goods by id</h1>
<form th:method="POST" th:action="@{/delete/goods}" th:object="${idGoods}">
    <label for="idGoods">Enter id of goods: </label>
    <input type="number" th:field="*{idGoods}" id="idGoods"/>
    <div th:if="${error}" style="color:brown" th:text="${error}">Error</div>
    <br/>
    <br/>
    <input type="submit" value="Delete goods!"/>
</form>
<br/>
<button onclick="back()">Back</button>
<script>
    function back() {
        window.location.href = 'https://localhost:1000/goods';
    }
</script>
</body>
</html>