<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User details</h1>
<div th:each="user : ${user}">


    <label for="name">Name: </label>
    <a th:text="${user.getFullName()}" id="name">User</a>

    <br/>
    <label for="email">Email: </label>
    <a th:text="${user.getEmail()}" id="email">User</a>

    <br/>
    <label for="phone">Phone: </label>
    <a th:text="${user.getPhone()}" id="phone">User</a>

</div>
<br/>
<button onclick="back()">Back</button>
<script>
    function back() {
        window.location.href = 'http://localhost:1000/main';
    }
</script>
</body>
</html>