<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<h1>Web Marketplace</h1>



<button onclick="yourGoods()">Your goods</button>
<br/>
<br/>
<button onclick="getUser()">Find seller</button>
<br/>
<br/>
<button onclick="goods()">Find goods</button>
<br/>
<br/>
<button onclick="logOut()">Log out</button>
<script>
    function logOut(){
        window.location.href = 'https://localhost:1000/';
    }

    function getUser() {
        window.location.href = 'https://localhost:1000/get/user';
    }
    function goods() {
        window.location.href = 'https://localhost:1000/goods';
    }
    function yourGoods() {
        window.location.href = 'https://localhost:1000/your/goods';
    }


</script>

</body>
</html>